<ol class="breadcrumb">
  <li>{{#link-to 'boards'}}Boards{{/link-to}}</li>
  <li class="active">{{model.name}}</li>
</ol>

<h3>Cumulative Flow</h3>

{{stacked-area-chart data=listCardsByDayData}}

<h3>People Activities</h3>

<table class="table table-condensed">
{{#each actionList in actionsByMember}}
  <tr>
    <td>
      <strong>{{actionList.name}}</strong>
    </td>
    <td>
      <div style="height:80px;">{{cal-heatmap data=actionList.values}}</div>
    </td>
  </tr>
{{/each}}
</table>