{{#if currentMember.authorized}}
{{#link-to 'boards' class="btn btn-default"}}Boards{{/link-to}}
{{else}}
<p>The missing project management tool for Trello. Providing team activities and cumulative flow chart.</p>
{{/if}}