doctype html
html
  head
    title= title
    meta(name="description", content="The missing project management tool for Trello. Team activities and cumulative flow chart.")
    link(rel='stylesheet', href='http://cdn.staticfile.org/twitter-bootstrap/3.1.0/css/bootstrap.min.css')
    != css("style")
    != css("pace-theme-flash")
    != css("nv.d3")
    != css("cal-heatmap")
  body
    center#loadingJS
      | Loading...
    script(src="http://cdn.staticfile.org/jquery/1.10.2/jquery.min.js")
    script(src="http://cdn.staticfile.org/twitter-bootstrap/3.1.0/js/bootstrap.min.js")
    script(src="http://cdn.staticfile.org/handlebars.js/1.3.0/handlebars.runtime.min.js")
    script(src="http://cdn.staticfile.org/ember.js/1.3.2/ember.min.js")
    script(src="http://cdn.staticfile.org/ember-data.js/1.0.0-beta.6/ember-data.min.js")
    script(src="http://cdn.staticfile.org/d3/3.1.6/d3.min.js")
    script(src="http://cdn.staticfile.org/nvd3/1.1.14-beta/nv.d3.min.js")
    script(src="http://cdn.staticfile.org/moment.js/2.5.1/moment.min.js")
    != js("kanbanfu")
    script
      | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      | ga('create', 'UA-47073593-2', 'kanbanfu.com');
      | ga('send', 'pageview');