doctype html
html
  head
    title= title
    != css("bootstrap")
    != css("style")
  body

    != js("kanbanfu")
    script(src='https://api.trello.com/1/client.js?key=e60aca6e0ce93e626823f4710758f538&name=KanbanFu.com')