<h3>Board Summary</h3>

<table class="table table-condensed">
{{#each list in board.trelloLists}}
  <tr>
    <td nowrap="nowrap">
      <strong>{{list.name}}</strong>
    </td>
    <td>
      <ol>
        {{#each card in list.cards}}
          <li>
            <a {{bind-attr href=card.url}} target="_blank">{{card.name}}</a>
            {{#each member in card.members}}
              <small>@{{member.fullName}}</small>
            {{/each}}
          </li>
        {{/each}}
      </ol>
    </td>
  </tr>
{{/each}}
</table>